@model IEnumerable<ProductVM>

@{
    ViewData["Title"] = "Home Page";
    var detailsRoute = "/Details/{0}";
}

<div class="row">

    @foreach( var product in Model)
    {
        <div class="col-4">
            <div class="card mb-4">

                <div class="card-header" style="background-color:cornsilk">
                    <h4 class="my-0 font-weight-lighter" >
                        <label style="font-size: 23px; color: brown;"><b>@product.Name</b></label>
                    </h4>
                </div>

                <img class="card-img-top" style="height:100%" src="~/@product.ImagePath" alt="no image" />

                <div class="card-body" style="background-color:cornsilk">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size:20px; color:brown"><b>@product.Price RON</b></label>
                        </div>
                        <a href="@string.Format(detailsRoute, product.Id)" class="btn pull-right btn-dark">Detalii produs</a>
                    </div>
                </div>

            </div>
        </div>
    }

</div>